.wrapper {
  min-height: 200vh;
  .nav {
    display: flex;
    position: fixed;
    width: 100%;
    box-shadow: 2px 4px 15px 0px rgba(0, 0, 0, 0.75);
    .nav__logo {
      flex: 8;
      img {
        height: 75px;
        transition: 0.7s ease;
        margin-left: 30px;
      }
      .large {
        height: 100px;
      }
    }
    .nav__burger {
      flex: 2;
      position: relative;
      .burger {
        position: absolute;
        top: 50%;
        right: 20%;
        transform: translateY(-50%);
        -webkit-tap-highlight-color: transparent;
        cursor: pointer;
        .one,
        .two,
        .three {
          width: 40px;
          height: 5px;
          margin-bottom: 3px;
          background-color: rgb(9, 13, 243);
          transition: 0.3s ease;
        }
      }
      .burgerAnimated {
        top: 35%;
        transform: rotate(45deg);
      }
      .barOneAnimated {
        transform: translateY(8px);
      }
      .barTwoAnimated {
        transform: rotate(90deg);
      }

      .barThreeAnimated {
        transform: translateY(-8px);
      }
    }
  }
}
